.wrapper {}
.code-entry-digit {
    font-family: 'CiscoSansTT Regular';
    display: block;
    float: left;
    width: 44px !important;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0px 8px;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    &--selected {
      background: rgba(0, 0, 0, 0.11);
    }
}