$brand-font-folder: '../../../fonts' !default;
@font-face {
  font-family: 'CiscoSansTT Regular';
  font-style: normal;
  font-weight: normal;
  src: url('#{$brand-font-folder}/CiscoSansTTRegular.woff2') format('woff2'),
    url('#{$brand-font-folder}/CiscoSansTTRegular.woff') format('woff');
  font-display: fallback;
}


// Add this for focus
// input:focus-visible ~ .container .character {
//   &--selected:empty {
//     border-color: var(--code-input-border-focused);
//     outline: none;
//   }
// }
.container {
  display: block !important;
  .character {
    font-family: 'CiscoSansTT Regular';
    display: block;
    float: left;
    width: 44px !important;
    height: 48px;
    border: 1px solid var(--code-input-border);
    color: var(--code-input-text-color);
    background-color: var(--code-input-background);
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0px 8px;
    font-size: 26px;
    line-height: 48px;
    &:hover {
      background-color: var(--code-input-background-hovered);
    }
    &:active {
      background-color: var(--code-input-background-active);
      border-color: var(--code-input-border-active)
    }

    &--selected:empty {
      &:before {
        font-family: 'CiscoSansTT Thin';
        content: '|';
        color: var(--code-input-text-color-active);
        font-weight: 100;
        font-size: 30px;
        -webkit-animation: 1s blink step-end infinite;
        -moz-animation: 1s blink step-end infinite;
        -ms-animation: 1s blink step-end infinite;
        -o-animation: 1s blink step-end infinite;
        animation: 1s blink step-end infinite;
      }
      background-color: var(--code-input-background-active);
      border-color: var(--code-input-border-active)
    }
  }
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: var(--code-input-text-color-active);
  }
}